{% extends 'atlas_base.html.twig' %}

{% block body %}
<div class="grid grid-cols-5 gap-x-5 mx-2.5">
    <div class="col-span-3 p-4">
        <img src= {{ asset('images/atlas/'~photo.getFilename~'') }} alt="">       
    </div>
    
    <div class="col-span-2 p-4 space-y-4">
        <p class="font-bold"><i>{{ photo.getTaxon.getGenus.getName }} {{ photo.getTaxon.getSpecies.getName }}</i> {{ photo.getTaxon.getSpecies.getAuthority }} ({{ photo.getTaxon.getSpecies.getDateProposed }}) </p>
        <p><strong>Comment:</strong> {{ photo.getDescription|raw }}.</p>
        <p><strong>Locality:</strong> 
        
        {% if photo.getSample.getSite.getSiteType.getName == 'unknown' %}
            {{ photo.getSample.getSite.getNameOrNumberPrimary}}. The Natural History Museum slide {{ photo.getSample.getLabel }} ({{ photo.getSpecimenRelativeAge }}).           
        {% endif %}

        {% if photo.getSample.getSite.getSiteType.getName == 'onshore-NHM' and photo.getSample.getSite.getNameOrNumberPrimary == photo.getSample.getSite.getGeography.getFeaturePrimary %}
            {{ photo.getSample.getSite.getGeography.getFeaturePrimary }}, {{ photo.getSample.getSite.getGeography.getFeatureSecondary }}, The Natural History Museum slide {{ photo.getSample.getLabel }} ({{ photo.getSpecimenRelativeAge }}).
        {% endif %}

        {% if photo.getSample.getSite.getSiteType.getName == 'onshore-NHM' and photo.getSample.getSite.getNameOrNumberPrimary != photo.getSample.getSite.getGeography.getFeaturePrimary %}
            {{ photo.getSample.getSite.getNameOrNumberPrimary}}, {{ photo.getSample.getSite.getGeography.getFeaturePrimary }}, {{ photo.getSample.getSite.getGeography.getFeatureSecondary }}, The Natural History Museum slide {{ photo.getSample.getLabel }} ({{ photo.getSpecimenRelativeAge }}).
        {% endif %}

        {% if photo.getSample.getSite.getSiteType.getName == 'onshore' %}
            {{ photo.getSample.getSite.getNameOrNumberPrimary}}, {{ photo.getSample.getSite.getGeography.getFeaturePrimary }}, {{ photo.getSample.getSite.getGeography.getFeatureSecondary }}, sample: {{ photo.getSample.getLabel }} ({{ photo.getSpecimenRelativeAge }}).
        {% endif %}

        {% if photo.getSample.getSite.getSiteType.getName == 'dredge' and photo.getSample.getSite.getCampaign.getAbbreviation == 'DODO' %}
            {{ photo.getSample.getSite.getCampaign.getFullName }} dredging {{ photo.getSample.getSite.getNameOrNumberPrimary }}{{ photo.getSample.getSite.getNameOrNumberSecondary }} ({{ photo.getSample.getSite.getGeography.getFeaturePrimary }}, {{ photo.getSample.getSite.getGeography.getFeatureSecondary }}), The Natural History Museum slide {{ photo.getSample.getLabel }} ({{ photo.getSpecimenRelativeAge }}).
        {% endif %}

        {% if photo.getSample.getSite.getSiteType.getName == 'deep-sea' and photo.getSample.getSite.getCampaign.getAbbreviation == 'DSDP' %}
            {{ photo.getSample.getSite.getCampaign.getFullName }} Hole {{ photo.getSample.getSite.getNameOrNumberPrimary }}{{ photo.getSample.getSite.getNameOrNumberSecondary }} ({{ photo.getSample.getSite.getGeography.getFeaturePrimary }}, {{ photo.getSample.getSite.getGeography.getFeatureSecondary }}), sample: {{ photo.getSample.getLabel }} ({{ photo.getSpecimenRelativeAge }}).
        {% endif %}

        {% if photo.getSample.getSite.getSiteType.getName == 'deep-sea' and photo.getSample.getSite.getCampaign.getAbbreviation == 'ODP' %}
            {{ photo.getSample.getSite.getCampaign.getFullName }} Hole {{ photo.getSample.getSite.getNameOrNumberPrimary }}{{ photo.getSample.getSite.getNameOrNumberSecondary }} ({{ photo.getSample.getSite.getGeography.getFeaturePrimary }}, {{ photo.getSample.getSite.getGeography.getFeatureSecondary }}), sample: {{ photo.getSample.getLabel }} ({{ photo.getSpecimenRelativeAge }}).
        {% endif %}
        </p>

        <p><strong>Photographed using:</strong> {{ photo.getMicroscope.getProducer.getName }} {{ photo.getMicroscope.getModel.getName }}, {{ photo.getMicroscope.getObjective.getName }} + {{ photo.getMicroscope.getCamera.getName }}. {{ photo.getTechnique.getName }}. </p>
        <p><strong>Direct link to this page:</strong> {{ url }} </p>
        <p><strong><a href="{{photo.getTaxon.getDiatombase}}" target="_blank">DiatomBase link (opens in new tab)</strong></a></p>
    </div>
</div>
{% endblock %}
