{% extends 'atlas_base.html.twig' %}

{% block body %}

<div>
    <p class="font-bold"><i>{{ photo.getTaxon.getGenus.getName }} {{ photo.getTaxon.getSpecies.getName }}</i> {{ photo.getTaxon.getSpecies.getAuthority }} ({{ photo.getTaxon.getSpecies.getDateProposed }}) </p>
    <p><strong>Comment:</strong> {{ photo.getDescription|raw }}.</p>
    <p><strong>Locality:</strong> {{ photo.getSample.getSite.getGeography.getFeaturePrimary }}, {{ photo.getSample.getSite.getGeography.getFeatureSecondary }}. </p>
    <p><strong>Photographed using:</strong> {{ photo.getMicroscope.getProducer.getName }} {{ photo.getMicroscope.getModel.getName }}, {{ photo.getMicroscope.getObjective.getName }} + {{ photo.getMicroscope.getCamera.getName }}.</p>
    <p><strong>Direct link to this page:</strong> {{ url }} </p>
    <p><strong>DiatomBase link:</strong> {{photo.getTaxon.getDiatombase}} </p>
</div>

{% endblock %}
