{% extends 'atlas_base.html.twig' %}

{% block body %}
<div class="flex items-center w-full">
    <div class="p-4 w-3/5">
        <img class="rounded-lg shadow-xl" src= {{ asset('images/atlas/'~photo.getFilename~'') }} alt="Photo of the diatom {{ photo.getTaxon.getGenus.getName }} {{ photo.getTaxon.getSpecies.getName }}">       
    </div>
    
    <div class="p-4 w-2/5 text-xl/10 font-medium">
        <div>
            <span><strong><i>{{ photo.getTaxon.getGenus.getName }} {{ photo.getTaxon.getSpecies.getName }}</i> {{ photo.getTaxon.getSpecies.getAuthority }} ({{ photo.getTaxon.getSpecies.getDateProposed }}) </strong></span>
        </div>
        
        <div>
            <span><strong>Comment:</strong> {{ photo.getDescription|raw }}.</span>
        </div>
        
        <div>
            <span><strong>Locality:</strong> 
        
            {# format for displaying unknown sites #}
            {% if photo.getSample.getSite.getSiteType.getName == 'unknown' %}
                {{ photo.getSample.getSite.getNameOrNumberPrimary}}. The Natural History Museum slide {{ photo.getSample.getLabel }} ({{ photo.getRelativeAge }}).           
            {% endif %}

            {# format for displaying sites from NHM collections with duplicated names #}
            {% if photo.getSample.getSite.getSiteType.getName == 'onshore-NHM' and photo.getSample.getSite.getNameOrNumberPrimary == photo.getSample.getSite.getGeography.getFeaturePrimary %}
                {{ photo.getSample.getSite.getGeography.getFeaturePrimary }}, {{ photo.getSample.getSite.getGeography.getFeatureSecondary }}, The Natural History Museum slide {{ photo.getSample.getLabel }} ({{ photo.getRelativeAge.getName }}).
            {% endif %}

            {# format for displaying sites from NHM collections without duplicated names #}
            {% if photo.getSample.getSite.getSiteType.getName == 'onshore-NHM' and photo.getSample.getSite.getNameOrNumberPrimary != photo.getSample.getSite.getGeography.getFeaturePrimary %}
                {{ photo.getSample.getSite.getNameOrNumberPrimary}}, {{ photo.getSample.getSite.getGeography.getFeaturePrimary }}, {{ photo.getSample.getSite.getGeography.getFeatureSecondary }}, The Natural History Museum slide {{ photo.getSample.getLabel }} ({{ photo.getRelativeAge.getName }}).
            {% endif %}

            {# format for displaying non-NHM onshore sites #}
            {% if photo.getSample.getSite.getSiteType.getName == 'onshore' %}
                {{ photo.getSample.getSite.getNameOrNumberPrimary}}, {{ photo.getSample.getSite.getGeography.getFeaturePrimary }}, {{ photo.getSample.getSite.getGeography.getFeatureSecondary }}, sample: {{ photo.getSample.getLabel }} ({{ photo.getRelativeAge.getName }}).
            {% endif %}

            {# format for displaying DODO dredgings #}
            {% if photo.getSample.getSite.getSiteType.getName == 'dredge' and photo.getSample.getSite.getCampaign.getAbbreviation == 'DODO' %}
                {{ photo.getSample.getSite.getCampaign.getFullName }} dredging {{ photo.getSample.getSite.getNameOrNumberPrimary }}{{ photo.getSample.getSite.getNameOrNumberSecondary }} ({{ photo.getSample.getSite.getGeography.getFeaturePrimary }}, {{ photo.getSample.getSite.getGeography.getFeatureSecondary }}), The Natural History Museum slide {{ photo.getSample.getLabel }} ({{ photo.getRelativeAge.getName }}).
            {% endif %}

            {# format for displaying DSDP sites #}
            {% if photo.getSample.getSite.getSiteType.getName == 'deep-sea' and photo.getSample.getSite.getCampaign.getAbbreviation == 'DSDP' %}
                {{ photo.getSample.getSite.getCampaign.getFullName }} Hole {{ photo.getSample.getSite.getNameOrNumberPrimary }}{{ photo.getSample.getSite.getNameOrNumberSecondary }} ({{ photo.getSample.getSite.getGeography.getFeaturePrimary }}, {{ photo.getSample.getSite.getGeography.getFeatureSecondary }}), sample: {{ photo.getSample.getLabel }} ({{ photo.getRelativeAge.getName }}).
            {% endif %}

            {# format for displaying ODP sites #}
            {% if photo.getSample.getSite.getSiteType.getName == 'deep-sea' and photo.getSample.getSite.getCampaign.getAbbreviation == 'ODP' %}
                {{ photo.getSample.getSite.getCampaign.getFullName }} Hole {{ photo.getSample.getSite.getNameOrNumberPrimary }}{{ photo.getSample.getSite.getNameOrNumberSecondary }} ({{ photo.getSample.getSite.getGeography.getFeaturePrimary }}, {{ photo.getSample.getSite.getGeography.getFeatureSecondary }}), sample: {{ photo.getSample.getLabel }} ({{ photo.getRelativeAge.getName }}).
            {% endif %}
            </span>
        </div>
        
        <div>
            <span><strong>Photographed using:</strong> {{ photo.getMicroscope.getProducer.getName }} {{ photo.getMicroscope.getModel.getName }}, {{ photo.getMicroscope.getObjective.getName }} + {{ photo.getMicroscope.getCamera.getName }}. {{ photo.getTechnique.getName }}. </span>
        </div>
        
        <div>
            <span><strong>Direct link to this page:</strong> {{ url }} </span>
        </div>
       
        <div>
            <span><strong><a href="{{photo.getTaxon.getDiatombase}}" target="_blank">DiatomBase link (opens in new tab)</strong></a></span>
        </div>
    </div>
</div>
{% endblock %}
