{% extends 'base.html.twig' %}

{% block body %}

<div class="flex flex-col space-y-4">
    {% for publication in publications %}

    <p>
        {{ publication.getAuthors }} ({{ publication.getYear }}). {{ publication.getTitle|raw }}. {{ publication.getJournal }} {{ publication.getVolume }},
        {{ publication.getPages }}.

        {% if publication.getWww != 'NULL' %}
            <a href="{{ publication.getWww }}" target="_blank"><strong>WWW (publisher website)</strong></a>    
        {% endif %}

        {% if publication.isOpenAccess == 1 %}
            <img src= {{ asset('images/open-access-logo.png') }} class="inline" alt="Open Access logo">    
        {% endif %}
    </p>

    {% endfor %}
</div>

{% endblock %}
