<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Fossil Diatom Atlas{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('images/icon.png') }}">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Baloo+Thambi+2:wght@400..800&display=swap" rel="stylesheet">
            {# <link href="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.css" rel="stylesheet" /> #}
            <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
        {% endblock %}
    </head>

    <body class="w-full"> 
    
        <nav id="header" class="overflow-hidden bg-gradient-to-r from-slate-900 via-indigo-700 to-blue-300 h-[80px] w-full flex justify-between">
            <div class="flex items-center order-1 px-[20px]">

                <img src= {{ asset('images/plagiogramma.png')}} id="header-image" alt="Doodle showing the diatom Plagiogramma"></img>
                
                <div id="logo-link" >
                    <a href="{{ path('app_atlas_homepage') }}" class="text-[36px] font-bold text-white">Fossil Diatom Atlas</a>
                </div>

            </div>
  
            <div id="right-side-menu" class="display: block text-[25px] font-bold text-white order-2 flex items-center">
                <a href="{{ path('app_atlas_homepage') }}">Home</a>
                <a href="#">Index</a>
                <a href="#">Browse</a>
                <a href="#">Search</a>
                <a href="#">About</a>
                <a href="#">Contact</a>
                <a href="https://instagram.com/fossil.diatoms" target="_blank"><img id="icons" src="{{ asset('images/ig.png') }}"></a>
                <a href="https://facebook.com/fossil.diatoms" target="_blank"><img id="icons" src="{{ asset('images/fb.png') }}"></a>
            </div>
        </nav> 
      
        <div class="w-4/5 mx-auto py-[1em]">
            <main>
            
                {% block body %}{% endblock %}
            
            </main>

            <footer class="">

                <div class="text-[20px] text-right">
                    &copy; <a href="mailto: j.witkowski@poczta.onet.pl"> Jakub Witkowski</a>, {{ year }}
                </div>

            </footer>
        </div>
        
        {# <script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script> #}
    </body>

</html>
