<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Fossil Diatom Atlas{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body class="w-4/5 my-0 mx-auto">
        <header class="relative border-b border-black py-7">
            <div>
                <h1 class="text-4xl font-bold">Fossil Diatom Atlas</h1>
            </div>

            <div class="absolute top-8 right-8">
                <a href="https://www.instagram.com/fossil.diatoms/" target="_blank"><img class="w-8" src= {{ asset('images/ig_icon.png') }} alt="Instagram icon"></a>
            </div>
            
            <div class="absolute top-8 right-0">
                <a href="https://www.facebook.com/fossil.diatoms" target="_blank"><img class="w-8" src= {{ asset('images/fb_icon.png') }} alt="Facebook icon"></a>
            </div>
        </header>
            <nav class="text-center border-b border-black">
            
                <div class="dropdown">
                    <button class="dropbtn"><a href= {{ url('app_atlas_homepage') }}>Atlas Home</a></button>
                </div>
        
                <div class="dropdown">
                    <button class="dropbtn">Index</button>

                    <div class="dropdown-content">
                        <a href= {{ url('') }}>List of taxa</a>
                        <a href= {{ url('') }}>List of sites</a>
                    </div>
                </div>

                <div class="dropdown">
                    <button class="dropbtn">Browse Atlas</button>

                    <div class="dropdown-content">
                        <a href= {{ url('app_by_genus') }}>By genus</a>
                        <a href= {{ url('') }}>By date</a>
                        <a href= {{ url('') }}>By popularity</a>
                        <a href= {{ url('') }}>By geological age</a>
                    </div>
                </div>

                <div class="dropdown">
                    <button class="dropbtn"><a href= {{url('app_main_page')}} >Back to fossil-diatoms.com</a></button>
                </div>

            </nav>
        </header>

        <main class="mx-2.5 mt-2.5">
            {% block body %}{% endblock %}
        </main>

        <footer class="mt-2.5 border-t border-black">
            <div class="mx-2.5 my-2.5 text-right text-base">
                &copy; Jakub Witkowski, {{ year }}</p>
            </div>
        </footer>
    </body>
</html>
