<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Fossil Diatoms Website{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body class="w-4/5 my-0 mx-auto">
        <header class="relative border-b border-black py-7">
            <div>
                <h1 class="text-4xl font-bold">fossil-diatoms.com</h1>
            </div>
        </header>
            <nav class="text-center border-b border-black">
            
            <div class="absolute top-8 right-40">
                <a href="https://www.instagram.com/fossil.diatoms/" target="_blank"><img class="w-8" src= {{ asset('images/ig_icon.png') }} alt="Instagram icon"></a>
            </div>
            <div class="absolute top-8 right-32">
                <a href="https://www.facebook.com/fossil.diatoms" target="_blank"><img class="w-8" src= {{ asset('images/fb_icon.png') }} alt="Facebook icon"></a>
            </div>

                <div class="dropdown">
                    <button class="dropbtn"><a href= {{url('app_main_page')}} >Home</a></button>
                </div>
    
                <div class="dropdown">
                    <button class="dropbtn"><a href="">Fossil Diatom Atlas</a></button>
                </div>
        
                <div class="dropdown">
                    <button class="dropbtn">About</button>

                    <div class="dropdown-content">
                        <a href= {{ url('app_background') }}>My background</a>
                        <a href= {{ url('app_publications') }}>My publications</a>
                    </div>
                </div>

                <div class="dropdown">
                    <button class="dropbtn"><a href= {{ url('app_contact') }}>Contact</a></button>
                </div>
            </nav>
        </header>

        <main class="mx-2.5 mt-2.5">
            {% block body %}{% endblock %}
        </main>

        <footer class="mt-2.5 border-t border-black">
            <div class="mx-2.5 my-2.5 text-right text-base">
                &copy; Jakub Witkowski, {{ year }}</p>
            </div>
        </footer>
    </body>
</html>
