{% extends 'atlas_base.html.twig' %}

{% block body %}
<div class="flex">
    <div class="w-75">
        <p>Hi, and welcome to the online Fossil Diatom Atlas!</p>
        <p>At present, the Atlas includes <strong> {{ photos }} photos</strong> of 
        <strong> {{ species }} species</strong> comprised in <strong> {{ genera }}
        genera</strong> of fossil diatoms, ranging in age from the Early Cretaceous to the Holocene.</p>
        <p>Recent updates:</p>        

        {% for update in updates %}
            <p> {{ update.getDatePublished|date("m/d/Y") }} </p>
            <p> {{ update.getContent|raw }} </p>
        {% endfor %}
        
        <p class="text-right"><a href={{ url('app_updates') }}><i>See all updates</i></a></p>
    </div>
</div>
{% endblock %}
