{% extends 'atlas_base.html.twig' %}

{% block body %}

    <div class="bg-cover bg-center h-screen bg-[url('../images/004.jpg')] bg-no-repeat opacity-15">
    {# <div class="text-slate-900 text-center text-5xl]"> #}
        {# <img src="{{ asset('images/001.jpg') }}" class="w-full"></img> #}
 
    </div>

    <div class="absolute top-[10rem] w-full h-screen font-medium text-center text-6xl text-slate-700">
        <div class="pb-6">
            <span>100+ million years of diatom evolution told through</span>
        </div>

        <div class="flex w-3/5 mx-auto py-6 justify-evenly">
            <div class="">
                <span><strong> {{ photos }} photos</strong> of fossil diatoms </span>
            </div>
            
            <div class="">
                <span><strong> {{ species }} species</strong>, both extinct and living</span>
            </div>
            
            <div class="">
                <span><strong> {{ genera }} genera</strong> across all major clades</span>
            </div>
        </div>

        <div class="py-6">
            <span>Pause to admire the beauty of diatoms &#10084;</span>
        </div>

        <div class="flex w-3/5 mx-auto pt-6 justify-evenly text-6xl text-white">
            <div class="border-2 rounded-xl border-slate-600 p-6 bg-gradient-to-t from-slate-900 to-indigo-700 hover:text-teal-200">
                <a href=" {{ path('app_by_genus') }} "><span>Browse</span></a>
            </div>
            
            <div class="border-2 rounded-xl border-slate-600 p-6 bg-gradient-to-t from-slate-900 to-indigo-700 hover:text-teal-200">
                <a href=" {{ path('app_taxa_list') }} "><span>See index</span></a>
            </div>
            
            <div class="border-2 rounded-xl border-slate-600 p-6 bg-gradient-to-t from-slate-900 to-indigo-700 hover:text-teal-200">
                <a href=" {{ path('app_search_taxon') }} "><span>Search</span></a>
            </div>
        </div>

    </div>






     <div class="w-3/5 py-[1em] mx-auto text-slate-700">
        <p>Recent updates:</p>

        {% for update in updates %}
        
        <div>    
            <p><strong> {{ update.getDatePublished|date("d M Y") }}: </strong></p>
            <p class="ml-[1.5em]"> {{ update.getContent|raw }} </p>
        </div>
        
        {% endfor %}

        <p class="text-right"><a href={{ url('app_updates') }}><i><strong>See all updates</strong></i></a></p>
    </div>

{% endblock %}
