{% extends 'base.html.twig' %}

{% block body %}

<div class="lg:hidden text-2xl text-gray-700 flex flex-col place-items-center gap-8 w-fit min-h-96 p-2 bg-center bg-[url(../images/001gr.jpg)] bg-no-repeat bg-cover">
    <div class="bg-white bg-opacity-75 p-4 w-fit rounded-md font-medium text-center mx-6 border border-gray-700">
        <span><i>The story of 100+ million years of diatom evolution told through:</i></span>
    </div>
    
    <div class="bg-white bg-opacity-75 p-4 w-fit rounded-md font-medium text-center mx-6 border border-gray-700">
        <span><i><strong> {{ photos }} photos</strong> of fossil diatoms </i></span>
    </div>
    
    <div class="bg-white bg-opacity-75 p-4 w-fit rounded-md font-medium text-center mx-6 border border-gray-700">
        <span><i><strong> {{ species }} species</strong>, both extinct and living</i></span>
    </div>

    <div class="bg-white bg-opacity-75 p-4 w-fit rounded-md font-medium text-center mx-6 border border-gray-700">
        <span><i><strong> {{ genera }} genera</strong> across all major clades</i></span>
    </div>
</div>

<div class="hidden text-gray-700 object-scale-down lg:grid lg:grid-cols-2 lg:grid-rows-4 lg:gap-4 lg:justify-items-center lg:py-4">
    <div class="font-medium text-3xl text-center lg:flex lg:items-center lg:p-6">
        <span><i>The story of 100+ million years of diatom evolution told through:</i></span>
    </div>

    <div class="lg:flex lg:row-span-4 lg:items-center">
        <img class="shadow-xl object-scale-down" src="{{ asset('images/001gr.jpg') }}"/>
    </div>

    <div class="font-medium text-3xl text-center lg:flex lg:items-center lg:p-6">
        <span><i><strong> {{ photos }} photos</strong> of fossil diatoms </i></span>
    </div>

    <div class="font-medium text-3xl text-center lg:flex lg:items-center lg:p-6">
        <span><i><strong> {{ species }} species</strong>, both extinct and living</i></span>
    </div>

    <div class="font-medium text-3xl text-center lg:flex lg:items-center lg:p-6">
        <span><i><strong> {{ genera }} genera</strong> across all major clades</i></span>
    </div>
</div>

     <div class="text-md text-gray-700 w-full px-2 pt-4 md:text-lg lg:w-3/5 lg:py-10 lg:mx-auto">
        <div class="pb-2">
            <span><strong>Recent updates:</strong></span>
        </div>

        {% for update in updates %}
        
        <div class="py-2">    
            <span><strong> {{ update.getDatePublished|date("d M Y") }}:<br/> </strong></span>
            <span class="ml-[1.5rem]"> {{ update.getContent|raw }} </span>
        </div>
        
        {% endfor %}
        
        <div class="pr-2 pb-2 text-right">
            <a class="text-md md:text-lg" href={{ url('app_updates') }}><i><strong>See all updates</strong></i></a>
        </div>
    </div>

{% endblock %}
