{% extends 'atlas_base.html.twig' %}

{% block body %}
    
    <div>
        <p>Hi, and welcome to the online Fossil Diatom Atlas, a quick reference for fossil diatom identification!</p>
    </div>

    <div class="w-3/5 mx-auto p-8">
        {# <div>
            <p class="text-center text-[24px] tracking-wide">Fossil Diatom Atlas stats:</p>
        </div> #}

        <div class="flex items-center justify-between">

            <div id="info-tile">
                <strong> {{ photos }} photos</strong>
                <span> of fossil diatoms </span>
            </div>

            <div id="info-tile">
                <span><strong> {{ species }} species</strong>, </span>
                <span> both extinct and living</span>
            </div>
            
            <div id="info-tile">
                <strong> {{ genera }} genera</strong>
                <span>across all major clades</span>
            </div>

            <div id="info-tile" class="w-3/5">
                <strong> >100 million years</strong>
                <span> of diatom evolution </span>
            </div>

            {# <div id="main-page-doodle">
                <img src="{{ asset('images/plagiogramma-dark.png') }}" alt="dark-colored doodle of the diatom Plagiogramma"></img>
            </div> #}
        </div>
    </div>

    <div class="py-4">    
        <p>...of fossil diatoms, ranging in age from the Early Cretaceous to the Holocene, from both deep-sea and onshore sites.
        The Atlas aims to provide high-quality photographs, concise comments, and references to external edited databases. But... it works
        equally well for taking a minute to admire the beauty of diatoms &#10084;</p>     
    </div>

    <div class="w-4/5 py-[1em] mx-auto">
        <p>Recent updates:</p>

        {% for update in updates %}
        
        <div>    
            <p><strong> {{ update.getDatePublished|date("d M Y") }}: </strong></p>
            <p class="ml-[1.5em]"> {{ update.getContent|raw }} </p>
        </div>
        
        {% endfor %}

        <p class="text-right"><a href={{ url('app_updates') }}><i><strong>See all updates</strong></i></a></p>
    </div>

{% endblock %}
