{% extends 'atlas_base.html.twig' %}

{% block body %}
    
    <div class="w-4/5 mx-auto p-8 grid grid-cols-6 gap-4 rounded-md">
        <div></div>

        <div id="info-tile" class="flex justify-center items-center">
            <span>Welcome to the Fossil Diatom Atlas!</span>
        </div>
    
        <div id="main-page-doodle" class="flex justify-center items-center">
            <img src="{{ asset('images/pleuro-dark.png') }}" alt="dark-colored doodle of the diatom Plagiogramma"></img>
        </div>

        <div id="info-tile" class="flex justify-center items-center">
            <span>An online reference for quick diatom identification</span>
        </div>

        <div id="info-tile" class="flex justify-center items-center">
            <span>Featuring deep-sea and onshore sites</span>
        </div>

        <div></div>

        <div id="info-tile" class="flex justify-center items-center">
            <span><strong> {{ photos }} photos</strong> of fossil diatoms </span>
        </div>

        <div id="info-tile" class="flex justify-center items-center">
            <span><strong> {{ species }} species</strong>, both extinct and living</span>
        </div>
        
        <div id="info-tile" class="flex justify-center items-center">
            <span><strong> {{ genera }} genera</strong> across all major clades</span>
        </div>

        <div id="info-tile" class="flex justify-center items-center">
            <span>>100 million years of diatom evolution </span>
        </div>

        <div></div>
        <div></div>

        <div></div>
        <div></div>

        <div id="info-tile">
            <span>High-quality photographs and comments</span>
        </div>
    
        <div id="main-page-doodle">
            <img src="{{ asset('images/medlinia-dark-thick.png') }}" alt="dark-colored doodle of the diatom Medlinia"></img>
        </div>

        <div id="info-tile">
            <span>References to external edited databases</span>
        </div>

        <div id="info-tile">
            <span>Pause to admire the beauty of diatoms &#10084;</span>
        </div>
    </div>

     <div class="w-3/5 py-[1em] mx-auto">
        <p>Recent updates:</p>

        {% for update in updates %}
        
        <div>    
            <p><strong> {{ update.getDatePublished|date("d M Y") }}: </strong></p>
            <p class="ml-[1.5em]"> {{ update.getContent|raw }} </p>
        </div>
        
        {% endfor %}

        <p class="text-right"><a href={{ url('app_updates') }}><i><strong>See all updates</strong></i></a></p>
    </div>

{% endblock %}
